    html, body {
    background-color: gray;
    margin: 0.5%;
    height: 95%;
}

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    /* border: 3px white solid; */
}

#content{
    display: grid;
    grid-template-columns: 30% 70%;
    /* height: 85vh; */
}

#content > div {
    border: 0.5ch black solid;
    border-top: 1ch white solid;
    border-radius: 3ch;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 1em;
    padding: 1em;
}

#info {
    grid-column: 1 / 2;
    height: 85vh;
}

#resource-list {
    grid-column: 2 / 3;
    height: 85vh;
}

#resource-list >*:nth-of-type(even), #info >*:nth-of-type(even) {
    background-color: rgba(184, 184, 184, 0.5);
}

#topBottom {
    margin: 0%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
}

button {
    background-color: lightblue;
    border-radius: 0.5ch;
    border: 1px solid rgb(129, 170, 184);
    margin: 0.5ch;
}

button:hover {
    background-color: rgb(129, 170, 184);
    border: 1px solid lightblue;
}